{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "ignorePatterns": [
    "dist/**/*",
    ".output/**/*",
    ".nuxt/**/*",
    "*.css",
    "*.md"
  ],
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "@antfu",
    "plugin:prettier-vue/recommended",
    "prettier"
  ],
  "settings": {
    "import/ignore": [
      "vue"
    ]
  },
  "rules": {
    "semi": "error",
    "antfu/if-newline": 0,
    "vue/static-class-names-order": "off",
    "vue/multi-word-component-names": "off",
    "vue/require-component-is": "off",
    "vue/no-multiple-template-root": "off",
    "vue/no-v-text-v-html-on-component": "off",
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "@typescript-eslint/semi": [
      "error"
    ],
    "@typescript-eslint/comma-dangle": [
      "error"
    ],
    "comma-dangle": "error",
    "no-unused-vars": 0,
    "prettier-vue/prettier": [
      "error",
      {
        "printWidth": 180,
        "semi": false,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all"
      }
    ]
  }
}
